div {
  box-sizing: border-box;
}
.tab-container, .tab-container > .ivu-tabs-card{
  height: 100%;
}
.tab-container > .ivu-tabs-card > .ivu-tabs-content {
    height: 100%;
    margin-top: -16px;
}
.tab-container > .ivu-tabs-card > .ivu-tabs-content > .ivu-tabs-tabpane {
    background: #f7f7f7;
    padding: 16px;
    overflow: scroll;
    padding-bottom: 32px;
}

.tab-container > .ivu-tabs.ivu-tabs-card > .ivu-tabs-bar .ivu-tabs-tab {
    border-color: transparent;
}
.tab-container > .ivu-tabs-card > .ivu-tabs-bar .ivu-tabs-tab-active {
    border-color: #f7f7f7 !important;
    background: #f7f7f7 !important;
}
.tab-container > .ivu-tabs.ivu-tabs-card>.ivu-tabs-bar .ivu-tabs-tab{
background: #fff;
}
@media print {
  * {
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
  }
  @page {size: 210mm 297mm; margin:0mm;}
  html, body {width: 210mm; height: 297mm}
  html, body {
    margin: 0 !important;
    padding: 0 !important;
  }
  .ivu-tabs-bar {
    display: none !important;
  }
  .tab-container , .ivu-tabs-card , .ivu-tabs-content, .ivu-tabs-tabpane {
    margin: 0 !important;
    padding: 0 !important;
  }
  .ivu-tabs {
    overflow: scroll !important;
  }
  .ivu-tabs-content {
    transform: none !important;
  }
}