.tab-container, .tab-container > .ivu-tabs-card{
  height: 100%;
}
.tab-container > .ivu-tabs-card > .ivu-tabs-content {
    height: 100%;
    margin-top: -16px;
}
.tab-container > .ivu-tabs-card > .ivu-tabs-content > .ivu-tabs-tabpane {
    background: #f7f7f7;
    padding: 16px;
    overflow: scroll;
    padding-bottom: 32px;
}

.tab-container > .ivu-tabs.ivu-tabs-card > .ivu-tabs-bar .ivu-tabs-tab {
    border-color: transparent;
}
.tab-container > .ivu-tabs-card > .ivu-tabs-bar .ivu-tabs-tab-active {
    border-color: #f7f7f7 !important;
    background: #f7f7f7 !important;
}
.tab-container > .ivu-tabs.ivu-tabs-card>.ivu-tabs-bar .ivu-tabs-tab{
  background: #fff;
}
